@import '../../styles/variables';

.button {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    padding: 0.5rem;
    transition-duration: 300ms;
    background: none;
    border: none;
    cursor: pointer;
}

.visible {
    opacity: 1;
    pointer-events: auto;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.icon {
    padding: 0 1.5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
}