@import '../../styles/variables';

.container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1.5rem 0;
}

.image {
    display: flex;
    border-radius: 0.75rem;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: $gray-600;
    margin-bottom: 0.25rem;
}

.text {
    color: $gray-500;
    font-weight: 300;
    margin: 0.25rem 0;
}
