$primary-light: #AAAAAA;
$primary-dark: #A1A1AA;
$secondary-light: #FFF;
$secondary-dark: #000;
$hover-dark: #FFFFFF;
$hover-light: #000;
$back-primary-dark: #131314;

$gray-900: #111827;
$gray-600: #4b5563;
$gray-500: #6b7280;

$font-sans: "Inter", Roboto, sans-serif;