@import 'variables';

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-top: 4.5rem; // Compensate for fixed header

    :global([data-theme='dark']) & {
        background-color: $back-primary-dark;
    }
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: min(1100px, 94vw);
    margin: 0 auto;
    padding: 3rem 0 4rem;
}

.title {
    color: $primary-light;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    margin: 2.5rem 0;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 768px) {
    .main {
        width: 92vw;
        padding: 2.5rem 0 3rem;
    }

    .title {
        font-size: 3rem;
    }
}

@media (max-width: 540px) {
    .page {
        padding-top: 4rem;
    }

    .title {
        font-size: 2.5rem;
    }
}