@import 'variables';

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-top: 4.5rem; // Compensate for fixed header

    :global([data-theme='dark']) & {
        background-color: $back-primary-dark;
    }
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: min(50%, 800px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding: 0 1.5rem;

    :global([data-theme='dark']) & {
        background-color: $back-primary-dark;
    }
}

.title {
    color: $primary-light;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    margin: 2.5rem 0;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

// Tablet
@media (max-width: 900px) {
    .main {
        width: 85%;
    }

    .title {
        font-size: 3rem;
    }
}

// Mobile
@media (max-width: 600px) {
    .page {
        padding-top: 4rem;
    }

    .main {
        width: 100%;
        margin-top: 1.5rem;
    }

    .title {
        font-size: 2.25rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}