@import 'variables';

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    :global([data-theme='dark']) & {
        background-color: $back-primary-dark;
    }
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;

    :global([data-theme='dark']) & {
        background-color: $back-primary-dark;
    }
}

.title {
    color: $primary-light;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    margin: 2.5rem 0;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}
