@import '../../styles/variables';

.header {
    display: flex;
    height: 5rem;
    flex-direction: row;
    background-color: $secondary-light;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 3.5rem;

    :global([data-theme='dark']) & {
        background-color: $back-primary-dark;
    }
}

.logo {
    color: $primary-light;
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding: 0 2.5rem;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navItem {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 1rem;
    text-decoration: none;
}