@import '../../styles/variables';

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 5rem;
    padding: 4rem 3.5rem;

    :global([data-theme='dark']) & {
        background-color: $back-primary-dark;
    }
}

.iconsContainer {
    padding-left: 3rem;
}

.icon {
    padding: 0 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}